.env
__pycache__/
*.py[codz]
*$py.class
*.so
venv/
.envrc
.venv
env/
ENV/
env.bak/
venv.bak/
my-producer-key.pem
*.pem
terraform/.terraform/
terraform/terraform.tfstate*
terraform_backup/
*.zip
*.egg-info/
*.egg
dist/
build/
.eggs/
*.log
.pytest_cache/
.ruff_cache/
.mypy_cache/
.pyre/
.pytype/
.hypothesis/
.coverage
coverage.xml
htmlcov/
response.json
.idea/
.vscode/
__pycache__/
